{% extends 'base.html.twig' %}
{% block title %}Welcome to the App!{% endblock %}

{% block body %} 
    <div class="container">
        <div class="row mt-5">
            <div class="row">
                <div class="mb-3 alert alert-primary text-center">
                    <h3>Welcone to the App </h3>
                </div>
            </div>
            <div class="row">
                <div class"col-md-12">
                    <h6 class="text-center">Please login <a href="{{ path('app_login') }}">here</a></h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
